{% extends "v2/base.html" %}
{% load static %}
{% block background %}
<div class = bg-image
        style="
          background-image: url({% static 'img/IMG_1058.png' %});
          height: 100vh;background-repeat: no-repeat; background-size: cover; background-position: center center; opacity: 40%; background-color: black;
        ">
</div>
{% endblock %}


{% block navitems %}

  <li class="nav-item active">
          <strong><a class="nav-link" href="#">information <span class="sr-only">(current)</span></a></strong>
        </li>


{% endblock %}


{% block pagecontent %}
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">



                    <div class="d-flex justify-content-center " data-wow-delay="0.3s">

                    <form class="text-center border border-light p-5" enctype="multipart/form-data" method=post>
                    {% csrf_token %}

                        <p class="h4 mb-5">Sign in</p>



                        <select class="browser-default custom-select m-xl-5" name = "initials_user">

                            {% for intial in intials %}
                                <option value={{ intial }}>{{ intial }}</option>
                                {{ intial }}
                            {% endfor %}
                        </select>

                        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

                        <p>
                            <a href="addUser">Your initials are not there?</a>
                        </p>



                    </form>

                </div>

            </div>

{% endblock %}

