{% extends "v2/base.html" %}
{% load static %}
{% block background %}
<div class = bg-image
     style="
          background-image: url({% static 'img/IMG_1060.png' %});
          height: 100vh;background-repeat: no-repeat; background-size: cover; background-position: center center; opacity: 40%; background-color: black;
        ">
</div>
{% endblock %}

  {% block navitems %}
      <li class="nav-item active">
                            <strong><a class="nav-link" href="information">Information <span class="sr-only">(current)</span></a></strong>
                        </li>
        <li class="nav-item active">
          <strong><a class="nav-link" href="http://127.0.0.1:6202">Dashboard <span class="sr-only">(current)</span></a></strong>
        </li>
{% endblock %}

{% block pagecontent %}
  <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center m-5 " data-wow-delay="0.3s">
      <div class="container border border-light text-center">
        <i class="fas fa-thumbs-up fa-10x  data-mdb-toggle='animation' data-mdb-animation-reset='true' data-mdb-animation='shake'" ></i>
        <h4>Great your file is sent to the system.</h4>

      </div>
    </div>

  </div>
{% endblock %}
