{% extends "v2/base.html" %}
{% load static %}
{% block background %}
<div class = bg-image
     style="
          background-image: url({% static 'img/IMG_1060.png' %});
          height: 100vh;background-repeat: no-repeat; background-size: cover; background-position: center center; opacity: 40%; background-color: black;
        ">
</div>
{% endblock %}


                    {% block navitems %}
                        <li class="nav-item active">
                            <strong><a class="nav-link" href="information">Information <span class="sr-only">(current)</span></a></strong>
                        </li>
                        <li class="nav-item active">
                            <strong><a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a></strong>
                        </li>


{% endblock %}

{% block pagecontent %}
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">



        <div class="d-flex justify-content-center m-5" data-wow-delay="0.3s">

            <form class="text-center border border-light p-5" name="uploadForm" enctype="multipart/form-data" method=post>
                <p class="h4 ">MetaData + file-upload</p>

                <p class="h5 mb-3 " > Welkom {{ username }}</p>
            {% csrf_token %}
            {{ form.as_p }}
             <button type="submit" id="submit">Submit</button>
                {% if error_message %}
                    <p style="color: red"> {{ error_message }}</p>
                {% endif %}
            </form>

            <div id="myProgress">
    <div id="myBar"></div>
</div>
            
            <div class="spinner-border invisible" role="status" id = roler></div>

        </div>

    </div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script><!-- Custom scripts -->
<script type="text/javascript"></script>

<script>
    let formbox = document.getElementById("uploadForm");
    let spinnerbox = document.getElementById("roler");
    let submitbutton = document.getElementById("submit")

    submitbutton.addEventListener("click", formbox.classList.add("invisible"))
    console.log(submitbutton)
    console.log(formbox)
    console.log(spinnerbox)

     formbox.style.display = "none"


</script>

{% endblock %}


