{% extends "v2/base.html" %}
{% load static %}
{% block background %}
<div class = bg-image
     style="
          background-image: url({% static 'img/IMG_1060.png' %});
          height: 100vh;background-repeat: no-repeat; background-size: cover; background-position: center center; opacity: 40%; background-color: black;
        ">
</div>
{% endblock %}


                    {% block navitems %}
                        <li class="nav-item active">
                            <strong><a class="nav-link" href="information">Information <span class="sr-only">(current)</span></a></strong>
                        </li>
                        <li class="nav-item active">
                            <strong><a class="nav-link" href="http://127.0.0.1:6202">Dashboard <span class="sr-only">(current)</span></a></strong>
                        </li>


{% endblock %}

{% block pagecontent %}
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">



        <div class="d-flex justify-content-center m-5" data-wow-delay="0.3s">

            <form id="upload-form" class="text-center border border-light p-5" name="uploadForm" enctype="multipart/form-data" method=post>
                <p class="h4 ">Start workflow</p>

                <p class="h5 mb-3 " > Welkom {{ username }}</p>
                <h5 style="color: red"> Be aware; when the application starts this page will freeze.
                    Let it run out till the next page is shown.</h5>
            {% csrf_token %}
            {{ form.as_p }}
             <button type="submit" id="submit">Submit</button>
                {% if error_message %}
                    <p style="color: red"> {{ error_message }}</p>
                {% endif %}
            </form>

{#            <div id="progress-box" class="not-visible">progress</div>#}
{#            <div id="cancel-box" class="not-visible">#}
{#                <button id="cancel-btn" class="btn-danger">cancel</button>#}
{#            </div>#}



        </div>

    </div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script><!-- Custom scripts -->
<script type="text/javascript"></script>

<script>
    console.log("hello world")
    let uploadform = document.getElementById("upload-form")
    console.log(uploadform)
    let input = document.getElementById("submit")
    console.log(input)

    let progressBox = document.getElementById("progress-box")
    let cancelBox = document.getElementById("cancel-box")
    let cancelBtn = document.getElementById("cancel-btn")

    let csrf = document.getElementsByName('csrfmiddlewaretoken')

    input.addEventListener('change', () =>{
        progressBox.classList.remove('not-visible')
        cancelBox.classList.remove('not-visible')
    })


</script>

{% endblock %}


