{% extends 'base.html' %}
{% load static %}
<html>

    <head>
{#        <link rel="stylesheet" type="text/css" href="{% static 'polls/objects.css' %}">#}
{#        <script src="{% static 'polls/objects.js' %}"    defer></script>#}


        <title></title></head>
{% block content %}
{#    <div class="container">#}
    <div class="container_text">
     <form method="post" enctype="multipart/form-data" class = uploadFile>
    {% csrf_token %}
      <input type="file" id="file" name="myfile" >
    <button type="submit">Upload</button>
     </form>
<br>
    {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
     {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    </div>

        <div class= container_controlpannel>
        <div  class="box">
            <form>
       <button type="submit" name="run_fastqct">check your Data</button>
            </form>
     <form method="post" class = runHumaNn>
        {% csrf_token %}
        <label>
            Threads
            <input type="number" max="16" min='1'  name="threads">
        </label>
        <button type="submit" name="run_script">Run HumanN</button>
    </form>
        </div>
        </div>


         {% if img_files %}
         <div class="container2">
         <select id="select_fastqc_png">
{#         <option>... make a choice</option>#}
            {% for img in img_files %}
              <option value= {{ img }}>{{img}}</option>
            {% endfor %}
            </select>
        <img src={{ img_files.1}} id="fasqcimg">
    </div>
    {% endif %}

        <br><br>

    <form action="" method="POST">
{% csrf_token %}
{{ form.as_p }}
<input type="Submit" name="submit" value="Submit"/>
</form>




<script>
    let selectorfasqc = document.getElementById('select_fastqc_png')
    let imgfasqc = document.getElementById("fasqcimg")
    console.log(selectorfasqc)
    selectorfasqc.addEventListener("change",function(){
        console.log(this.value)
        imgfasqc.src = this.value ;

    {#document.body.append(para);#}
  });





</script>
    {% block content2 %}

    {% endblock %}
    {% endblock %}
{#{% block content2 %}#}
{##}
{##}
{#{% endblock %}#}


</html>